p:nth-child(1){
    background-color: rgb(57, 155, 25);
}
p:nth-child(2){
    background-color: rgb(210, 25, 25);
}
p:nth-child(3){
    background-color: rgb(74, 28, 222);
}
p:nth-child(4){
    background-color: rgb(35, 254, 232);
}
p:nth-child(5){
    background-color: rgb(240, 26, 180);
}

a{
    color: red;
}
a:hover{
    color: purple;
}